<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{block "title"}}Best Store{{ /block }}</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./public/css/header.css">
    <link rel="stylesheet" href="./public/css/footer.css">
    {{ block "head" }}{{ /block }}
</head>
<body>
    {{ include "../_partials/header.html" }} 
    {{ block "body" }}{{ /block }}
    {{ include "../_partials/footer.html" }}
    <script src="./node_modules/jquery/dist/jquery.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="./public/js/header.js"></script>
    {{ block "script" }}{{ /block }}
</body>
</html>