.shorp-body {
    background: url(../images/bgc.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}

.show-goods-body,
.goods-show-body>.goods-list-container,
.goods-particular-body,
.goods-particular-body {
    overflow: hidden;
    max-width: 1350px;
    margin: auto;
}

.goods-show-body {
    background-color: rgba(0, 0, 0, .03);
}

.shorp-body>.shorp-container {
    width: 100%;
    height: 700px;
    margin: 20px 0 40px 0;
    transform: scale(0);
    opacity: 0;
    transition: all 2s ease;
}

.shorp-body>.shorp-container>h3 {
    font-size: 6em;
    color: #fff;
    text-align: center;
    font-style: italic;
    padding-top: 1.5em;
}

.shorp-body>.shorp-container>.logo {
    display: flex;
    width: 50%;
    margin-left: 20%;
    justify-content: flex-end;
}

.shorp-body>.shorp-container>.logo h3 {
    font-size: 3em;
    color: #fff;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    height: 180px;
    line-height: 200px;
}

.shorp-body>.shorp-container>.logo>.logo-gif {
    width: 180px;
    height: 180px;
    background-color: #ffc229;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    color: #fff;
}

.shorp-body>.shorp-container>.logo>.logo-gif span {
    font-size: 50px;
}

.shorp-body>.shorp-container>.logo>.logo-gif i {
    display: block;
    font-size: 50px;
}

.shorp-body>.shorp-container>.carousel-container {
    margin-left: 10%;
}

.shorp-body>.shorp-container>.carousel-container>.carousel-text {
    width: 65%;
    text-align: center;
}

.shorp-body>.shorp-container>.carousel-container>.carousel-text p {
    color: #fff;
    font-size: 35px;
    opacity: 0;
    position: absolute;
}

.shorp-body>.shorp-container>.carousel-container>.carousel-text .carousel-info {
    opacity: 1;
}

.shorp-body>.shorp-container>.carousel-container>.carousel-logo {
    padding: 100px 0 0 500px;
}

.shorp-body>.shorp-container>.carousel-container>.carousel-logo ul li {
    display: block;
    width: 60px;
    height: 6px;
    border: 1.5px solid #fff;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

#carousel-pattern .carousel-active {
    border-color: #ffc229;
}

.show-goods-body>.show-goods {
    width: 100%;
    height: 600px;
    padding: 80px 100px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 1s ease;
}

.show-goods-body>.show-goods img {
    height: 100%;
    width: 100%;
    transition: transform 4s ease;
}

.show-goods-body>.show-goods>.show-left {
    height: 100%;
    flex: 1;
    margin-right: 15px;
    position: relative;
    overflow: hidden;
    transform: translateX(-1000px);
    transition: transform 1.5s ease;
}

.show-goods-body>.show-goods>.show-left>.lid {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 100;
}

.show-goods-body>.show-goods>.show-left>.lid p {
    position: absolute;
    top: 0;
    font-size: 1em;
    letter-spacing: 2px;
    background-color: #fff;
    height: 2.2em;
    color: #000;
    padding: 2px 5px;
    text-align: center;
    line-height: 2em;
    transform-origin: 0%;
    transform: scaleX(0);
    transition: all 0.3s ease-in;
}

.show-goods-body>.show-goods>.show-left>.lid p:first-child {
    top: 50%;
}

.show-goods-body>.show-goods>.show-left>.lid p:nth-child(2) {
    top: 62%;
}

.show-goods-body>.show-goods>.show-left>.lid p:last-child {
    top: 74%;
}

.show-goods-body>.show-goods>.show-left>h3 {
    font-size: 3em;
    top: 15%;
    left: 15%;
    z-index: 1000;
}

.show-goods-body>.show-goods>.show-left>h3>span {
    font-size: 1em;
    color: #ffc229;
}

.show-goods-body>.show-goods>.show-left p {
    font-size: 1.2em;
    letter-spacing: 5px;
    top: 30%;
    left: 15%;
}

.show-goods-body>.show-goods>.show-middle {
    height: 100%;
    flex: 1;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transform: translateY(1000px);
    transition: transform 1.5s ease;
}

.show-goods-body>.show-goods>.show-middle>.top {
    width: 100%;
    flex: 1;
    margin-bottom: 2%;
    position: relative;
    overflow: hidden;
}

.show-goods-body>.show-goods>.show-middle>.top>h3 {
    font-size: 2em;
    top: 30%;
    left: 25%;
}

.show-goods-body>.show-goods>.show-middle>.top>h3>span {
    font-size: 1.2em;
}

.show-goods-body>.show-goods>.show-middle>.bottom {
    /* height: 50%; */
    width: 100%;
    flex: 1;
    margin-top: 2%;
    /* padding: 2% 0 0 0; */
    position: relative;
    overflow: hidden;
}

.show-goods-body>.show-goods>.show-middle>.bottom>.outside {
    border: 1px solid #fff;
    width: 92%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 4%;
    padding: 20px;
}

.show-goods-body>.show-goods>.show-middle>.bottom>.outside>.interior {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.22);
}

.show-goods-body>.show-goods>.show-middle>.bottom>.outside>.interior h3 {
    top: 10%;
    left: 28%;
    font-size: 2em;
}

.show-goods-body>.show-goods>.show-middle>.bottom>.outside>.interior h4 {
    top: 50%;
    left: 28%;
    font-size: 2em;
}

.show-goods-body>.show-goods>.show-right {
    height: 100%;
    flex: 1;
    position: relative;
    overflow: hidden;
    transform: translateX(1000px);
    transition: transform 1.5s ease;
}

.show-goods-body>.show-goods>.show-right>h3 {
    width: 80%;
    font-size: 2.5em;
    text-align: center;
    top: 50%;
    left: 10%;
}

.show-goods-body>.show-goods>.show-right>h4 {
    font-size: 2.5em;
    text-align: center;
    top: 73%;
    left: 18%;
}

.show-goods-body>.show-goods h3,
.show-goods-body>.show-goods h4,
.show-goods-body>.show-goods p {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}

.goods-show-body>.goods-list-container {
    padding: 80px 100px;
    opacity: 0;
    transition: opacity 1s ease;
}

.goods-show-body>.goods-list-container>.goods-logo {
    padding-bottom: 40px;
    transform: scale(0);
    transition: transform 1.5s ease;
}

.goods-show-body>.goods-list-container>.goods-logo h2 {
    font-size: 3.5em;
    text-align: center;
    position: relative;
}

.goods-show-body>.goods-list-container>.goods-logo h2::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 15%;
    width: 200px;
    border: 0.5px solid #fff;
}

.goods-show-body>.goods-list-container>.goods-logo h2::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 15%;
    width: 200px;
    border: 0.5px solid #fff;
}

.goods-show-body>.goods-list-container>.goods-logo p {
    width: 620px;
    text-align: center;
    margin-left: 23%;
    color: #aaa;
}

.goods-show-body>.goods-list-container>.goods-list>.top {
    transform: translateY(1200px);
    transition: transform 1.5s ease;
}

.goods-show-body>.goods-list-container>.goods-list .middle {
    transform: translateY(1200px);
    transition: transform 1.5s ease;
    padding: 0 15px;
}

.goods-show-body>.goods-list-container>.goods-list>.row img {
    width: 100%;
    min-height: 350px;
}

.goods-show-body>.goods-list-container>.goods-list>.row .thumbnail {
    padding: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
}

.goods-show-body>.goods-list-container>.goods-list>.row .thumbnail .caption {
    text-align: center;
}

.goods-show-body>.goods-list-container>.goods-list>.row .thumbnail .caption h4 a {
    color: #000;
    font-size: 1em;
}

.goods-show-body>.goods-list-container>.goods-list>.row .thumbnail .caption .price-old {
    position: relative;
    padding: 6px;
    color: #aaa;
}

.goods-show-body>.goods-list-container>.goods-list>.row .thumbnail .caption p:nth-child(2) {
    color: #aaa;
    font-size: .9em;
}

.goods-show-body>.goods-list-container>.goods-list>.row .thumbnail .caption p:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.goods-show-body>.goods-list-container>.goods-list>.row .thumbnail .caption p:nth-child(3) span {
    padding-right: 15px;
}

.goods-show-body>.goods-list-container>.goods-list>.row .thumbnail .caption .new {
    width: 50px;
    height: 30px;
    background-color: #ffc229;
    position: absolute;
    top: 15px;
    right: 30px;
}

.goods-show-body>.goods-list-container>.goods-list>.row .thumbnail .caption .new span {
    color: #fff;
    font-size: 20px;
}

.goods-show-body>.goods-list-container>.goods-list>.row .thumbnail .caption .price-old::after {
    content: "";
    display: block;
    position: absolute;
    top: 55%;
    left: 0%;
    border: 0.5px solid #aaa;
    width: 3.2em;
    transform-origin: left;
    transform: rotate(-6deg);
}

.goods-show-body>.goods-list-container>.goods-list>.row .thumbnail .caption .price-new {
    font-size: 1.5em;
}

.buy {
    color: #d8703f;
    background-color: #fff;
    border-color: #d8703f;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    outline: none;
}

.buy,
.buy:hover,
.buy:focus,
.buy:active,
.buy:visited {
    background-color: #fff !important;
    outline: none !important;
    box-shadow: 0 0 0 #fff !important;
}




.buy>a {
    color: #d8703f;
    display: block;
    width: 100%;
    height: 100%;
}

.buy:hover>a {
    color: #000;
}

.buy:hover {
    background-color: #fff !important;
    border-color: #000 !important;
    color: #000 !important;
}
.buy-shade,
.buy-shade:hover,
.buy-shade:focus,
.buy-shade:active,
.buy-shade:visited {
    outline: none !important;
    box-shadow: 0 0 0 #fff !important;
}
.buy-shade:active {
    background-color: #ffc229!important;
}


.goods-show-body>.goods-list-container>.goods-list>.row .thumbnail .goods-shade {
    height: 350px;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    width: 100%;
    z-index: 1000;
    top: 15px;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease;
}

.goods-show-body>.goods-list-container>.goods-list>.row .thumbnail .goods-shade>.star {
    position: absolute;
    top: 60%;
    left: 30%;
}

.star span {
    margin-right: 5px;
}

.star span:nth-child(-n + 4) {
    color: #ffc229;
}

.buy-shade {
    background-color: #d8703f;
    border: none;
    outline: none;
    color: #fff;
    position: relative;
    top: 45%;
    left: 30%;
    border-radius: 0;
    outline: none;
}

.big {
    left: 40%;
}

.big-star {
    left: 40% !important;
}

.buy-shade a {
    color: #fff;
    font-size: 16px;
}

.buy-shade:hover {
    background-color: #ffc229;
    color: #fff;
}

.goods-particular-body {
    padding: 100px;
}

.goods-particular-body>.goods-particular-top {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 1s ease;
}

.goods-particular-body>.goods-particular-top>.left {
    width: 65%;
    transform: translateX(-1000px);
    transition: transform 1.5s ease;
}

.goods-particular-body>.goods-particular-top>.left>.star {
    padding-top: 15px;
}

.goods-particular-body>.goods-particular-top>.left>h3 a {
    font-size: 1.5em;
    color: #000;
}

.goods-particular-body>.goods-particular-top>.left>.left-price {
    padding: 15px 0;
}

.goods-particular-body>.goods-particular-top>.left>.left-price>.old-price {
    color: #aaa;
    position: relative;
    margin-right: 15px;
}

.goods-particular-body>.goods-particular-top>.left>.left-price>.old-price::before {
    content: "";
    display: block;
    width: 3.5em;
    height: 0;
    border: 0.5px solid #aaa;
    position: absolute;
    top: 60%;
    left: -25%;
    transform-origin: left;
    transform: rotate(-5deg);
}

.goods-particular-body>.goods-particular-top>.left>.left-price>.new-price {
    font-size: 1.5em;
}

.goods-particular-body>.goods-particular-top>.left>.left-buy>.buy a {
    font-size: 16px;
    color: #d8703f;
}

.goods-particular-body>.goods-particular-top>.left>.left-buy {
    padding: 15px 0;
}

.goods-particular-body>.goods-particular-top>.left>.left-count-down {
    padding: 15px 0;
}

.goods-particular-body>.goods-particular-top>.left>.left-count-down ul li {
    float: left;
    margin-right: 3em;
    padding-right: 3em;
    border-right: 1px solid #eee;
    text-align: center;
    padding-top: 1.5em;
    line-height: 28px;
}

.goods-particular-body>.goods-particular-top>.left>.left-count-down ul li:last-child {
    border: none;
}

.goods-particular-body>.goods-particular-top>.left>.left-count-down ul li p {
    font-size: 40px;
    padding: 0;
    margin: 0;
    color: red;
}

.goods-particular-body>.goods-particular-top>.left>.left-count-down ul li span {
    color: #aaa;
}

.goods-particular-body>.goods-particular-top>.right {
    background-color: rgba(0, 0, 0, 0.025);
    padding: 15px;
    width: 32%;
    transform: translateX(1000px);
    transition: transform 1.5s ease;
}

.goods-particular-body>.goods-particular-top>.right img {
    width: 100%;
    height: 100%;
}

.goods-particular-body>.goods-particular-middle {
    padding: 100px 0 0 0;
}

.goods-particular-body>.goods-particular-middle>.top {
    position: relative;
    overflow: hidden;
}

.goods-particular-body>.goods-particular-middle>.top img {
    width: 100%;
    height: 100%;
}

.goods-particular-body>.goods-particular-middle>.top>.text-contaniner {
    position: absolute;
    z-index: 1000;
    top: 25%;
    left: 10%;
    color: #fff;
    width: 45%;
    height: 50%;
    border: 4px double #212121;
    padding: 4em 2em;
    overflow: hidden;
    transform: translateX(-1000px);
    transition: transform 1.5s ease;
}

.goods-particular-body>.goods-particular-middle>.top>.text-contaniner h4 {
    font-size: 4em;
}

.goods-particular-body>.goods-particular-middle>.top>.text-contaniner p {
    font-size: 3.5em;
    color: #000;
}

.goods-particular-body>.goods-particular-middle>.middle {
    padding: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.03);
    transform: translateY(1000px);
    transition: transform 1.5s ease;
}

.goods-particular-body>.goods-particular-middle>.middle h3 {
    font-size: 2.5em;
}

.goods-particular-body>.goods-particular-middle>.middle p {
    color: #aaa;
}

#email-send {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #aaa;
    padding: 10px 0;
    position: relative;
}

#email-send>.email {
    width: 30em;
    border: none;
    background-color: transparent;
    outline: none
}

#email-send>span {
    font-size: 1.5em;
    color: #ffc229;
    padding-right: 15px;
}

#email-send>.buy-shade {
    padding: 2% 4%;
    position: absolute;
    left: 110%;
    top: 0;
    font-size: 17px;
}