<footer class="footer-body">
    <div class="footer-container">
        <div class="footer-top">
            <div class="about">
                <h3>About Us</h3>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
            </div>
            <div class="contact">
                <h3>Contact Info</h3>
                <p>
                    <span class="glyphicon glyphicon-map-marker pull-left"></span>
                    <div class="City">
                        <span>1234k Avenue,</span>
                        <span class="location">4th block,New York City.</span>
                    </div>
                </p>
                <p>
                    <span class="glyphicon glyphicon-envelope"></span>
                    <span>info@example.com</span>
                </p>
                <p>
                    <span class="glyphicon glyphicon-earphone"></span>
                    <span>+1234 567 567</span>
                </p>
            </div>
            <div class="flickr">
                <h3>Flickr Posts</h3>
                <p>
                    <a href="#">
                        <img src="./public/images/1.jpg" alt="">
                    </a>
                    <a href="#">
                        <img src="./public/images/2.jpg" alt="">
                    </a>
                    <a href="#">
                        <img src="./public/images/3.jpg" alt="">
                    </a>
                    <a href="#">
                        <img src="./public/images/4.jpg" alt="">
                    </a>
                    <a href="#">
                        <img src="./public/images/5.jpg" alt="">
                    </a>
                    <a href="#">
                        <img src="./public/images/6.jpg" alt="">
                    </a>
                    <a href="#">
                        <img src="./public/images/7.jpg" alt="">
                    </a>
                    <a href="#">
                        <img src="./public/images/8.jpg" alt="">
                    </a>
                    <a href="#">
                        <img src="./public/images/9.jpg" alt="">
                    </a>
                    <a href="#">
                        <img src="./public/images/10.jpg" alt="">
                    </a>
                    <a href="#">
                        <img src="./public/images/11.jpg" alt="">
                    </a>
                    <a href="#">
                        <img src="./public/images/12.jpg" alt="">
                    </a>
                </p>
            </div>
            <div class="blog">
                <h3>Blog Posts</h3>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="./public/images/13.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Culpa QuiOfficiaDeserunt</h4>
                        <span>Posted On 25/3/2016</span>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="./public/images/14.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Culpa QuiOfficiaDeserunt</h4>
                        <span>Posted On 25/3/2016</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <h2>
                <a href="#">Best Store</a>
                <span>SHOP ANYWHERE</span>
            </h2>
        </div>
        <div class="footer-bottom">
            <p>Copyright © 2016.Company name hell word</p>
        </div>
    </div>
</footer>