<header>
    <div class="top">
        <div class="top-info">
            <div class="userInfo">
                <ul>
                    <li>
                        <i class="glyphicon glyphicon-envelope"></i>
                        <a href="#">@
                            <span>123.com</span>
                        </a>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-earphone"></i>
                        <a href="#">+
                            <span>1234 456 789</span>
                        </a>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-user"></i>
                        <a href="/login">{{ loginInfo }}</a>
                    </li>
                </ul>
                <div class="pull-right search">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" placeholder="请输入商品名称">
                    <button class="btn btn-warning">搜索</button>
                </div>
            </div>
        </div>
        <div class="top-tabbar">
            <div class="title">
                <h1>
                    <a href="#">
                        Best Store
                    </a>
                    <span>SHOP&nbsp;ANYWHERE</span>
                </h1>

            </div>
            <div class="tabbar">
                <ul>
                    <li>
                        <a href="/home" class="home">首页</a>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            产品
                            <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="pop-up">
                                <ul class="men-wear">
                                    <h4>男装</h4>
                                    <li>
                                        <a href="/product">服装</a>
                                    </li>
                                    <li>
                                        <a href="/product">钱包</a>
                                    </li>
                                    <li>
                                        <a href="/product">鞋</a>
                                    </li>
                                    <li>
                                        <a href="/product">手表</a>
                                    </li>
                                    <li>
                                        <a href="/product">饰品</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="pop-up">
                                <ul class="women-wear">
                                    <h4>女装</h4>
                                    <li>
                                        <a href="/product">服装、手袋</a>
                                    </li>
                                    <li>
                                        <a href="/product">钱包</a>
                                    </li>
                                    <li>
                                        <a href="/product">手表</a>
                                    </li>
                                    <li>
                                        <a href="/product">饰品</a>
                                    </li>
                                    <li>
                                        <a href="/product">首饰</a>
                                    </li>
                                    <li>
                                        <a href="/product">美容与美发</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="pop-up">
                                <ul class="children-wear">
                                    <h4>男装</h4>
                                    <li>
                                        <a href="/product">儿童家居时尚</a>
                                    </li>
                                    <li>
                                        <a href="/product">男孩的衣服</a>
                                    </li>
                                    <li>
                                        <a href="/product">女孩的衣服</a>
                                    </li>
                                    <li>
                                        <a href="/product">鞋</a>
                                    </li>
                                    <li>
                                        <a href="/product">品牌商店</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            家具
                            <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="pop-up">
                                <ul class="men-wear">
                                    <h4>家具系列</h4>
                                    <li>
                                        <a href="/furniture">炊具</a>
                                    </li>
                                    <li>
                                        <a href="/furniture">沙发</a>
                                    </li>
                                    <li>
                                        <a href="/furniture">餐具</a>
                                    </li>
                                    <li>
                                        <a href="/furniture">鞋架</a>
                                    </li>
                                    <li>
                                        <a href="/furniture">家具装饰</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="pop-up">
                                <ul class="women-wear">
                                    <h4>办公室集合</h4>
                                    <li>
                                        <a href="/furniture">地毯</a>
                                    </li>
                                    <li>
                                        <a href="/furniture">表</a>
                                    </li>
                                    <li>
                                        <a href="/furniture">沙发</a>
                                    </li>
                                    <li>
                                        <a href="/furniture">鞋架</a>
                                    </li>
                                    <li>
                                        <a href="/furniture">套接字</a>
                                    </li>
                                    <li>
                                        <a href="/furniture">电视机</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="pop-up">
                                <ul class="children-wear">
                                    <h4>饰品</h4>
                                    <li>
                                        <a href="/furniture">玩具</a>
                                    </li>
                                    <li>
                                        <a href="/furniture">挂钟</a>
                                    </li>
                                    <li>
                                        <a href="/furniture">灯光</a>
                                    </li>
                                    <li>
                                        <a href="/furniture">顶级品牌</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="/none" class="phone">电子商品</a>
                    </li>
                    <li>
                        <a href="/contact" class="contact">联系我们</a>
                    </li>
                </ul>
            </div>
            <div class="shorpcar">
                <a href="/shorpcar">
                    $
                    <span class="pirce">0.00&nbsp;</span>（
                    <span class="count">0</span>&nbsp;件物品）</a>
                <a href="#">
                    <img src="./public/images/car.png" alt="购物车" title="购物车">
                </a>
                <p>
                    <a href="#">清空购物车</a>
                </p>
            </div>
        </div>
    </div>
</header>